.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.input{
  width: 400px;
  padding: 10px;
  border-radius: 15px;
  outline: none;
}
.addButton{
  width: 100px;
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  border: 2px solid rgb(97, 97, 97);
  border-radius: 15px;
  outline: none;
}

.add-button:hover{
  background-color: #ccc;
  cursor: pointer;
}

.complete{
  color: green;
}

.standard{
  color: gray;
}

body {
  background-color: lightskyblue;

}

.task {
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.buttons button {
  margin-left: 10px;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.tasks-list {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}




